/*для верхнего контейнера с лого*/
img{
    height: 155px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;}
/*конец верхнего контейнера с лого*/

body{
background-color: #f2ebcb;
}

/* Стили для ссылок */
a {
    color: #333;
    text-decoration: none;
}
